langchain
langchain-core
langchain-community
langchain-text-splitters

sentence-transformers
torch

chromadb
faiss-cpu

numpy
pandas

pypdf
pymupdf
beautifulsoup4
lxml
requests

openpyxl
python-dotenv